.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    position: relative;  
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
    flex: 1;
    display: flex;  
    justify-content: left;
    align-items: center;
    flex-direction: column; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#paragraph {
    margin-top: 20px;  
    width: 800px;  
    height: 200px;  
    background-color: #f0f0f0;  
    padding: 20px;  
    box-sizing: border-box;  
    overflow: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border: 2px solid #000;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}

#paragraph p {
    margin: 0;
}

#paragraph_requisitos {
    margin-top: 20px;  
    width: 800px;  
    height: 280px;  
    background-color: #f0f0f0;  
    padding: 20px;  
    box-sizing: border-box;  
    overflow: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border: 2px solid #000;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
}

#paragraph_requisitos p {
    margin: 0;
}

.button {
    background-color: #3b5998;
    color: white;
    margin-top: 20px;  
    padding: 15px 25px;
    text-decoration: none;
    border: 2px solid #000;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }


  .button:hover {
    background-color: #223094;
  }

 .welcome_message{
    text-align: center;
 }

 .welcome_message h1{
    font-size: 65px;
    color: white;
    margin-top: 150px;
    margin-bottom: 50px;
    border-color: black;
 }
 .welcome_message h3{
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
 }

 .welcome_message a{
    margin-top: 50 px;
    font-size: 23 px; 
    color: white; 
    text-decoration: none; 
    border: 2px solid #f0f0f0;
    padding: 15px 25px; 
    border-radius: 50;
    transition: 0.3s;

 }

 .welcome_message a.hover{
    background-color:rgba(0, 0, 0, 0.4) ;
    color: pink;

 }


 .background-clip{
    position: absolute;
    right: 0;
    bottom: 0; 
    z-index: -1;
 }