
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.nav{
    position:fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: #222;
    z-index: 100000;
}